
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm()) { 

<div class="g-recaptcha" data-sitekey="6Lc8lwcTAAAAAC-Prj1Py8epgTnWbJhLJxnP3pkI"></div>
<script src='https://www.google.com/recaptcha/api.js'></script>
 
    <div>
        <button type="submit">Dene</button>
    </div>
       
}